{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}
{% block body %}
    <article class="upcomming_event">

        <h2>Evènements à venir </h2>
        {% for event in lastEvents %}
            <img src="{{ asset(event.photo) }}" alt="photo amor de luenh" class="photo">
            <h3>
                {{ event.title }}
            </h3>
            <p>
                {{ event.description }}
            </p>

        {% endfor %}
    </article>
    <article class="passed_event">
        <h2>Evènements passés </h2>
        {% for oldEvent in oldEvents %}
            {% if oldEvent.id % 2 == 0 %}
                <img src="{{ asset( oldEvent.photo ) }}" alt="photo {{ oldEvent.title }}" class="photo_duo">
            {% else %}
                <img src="{{ asset( oldEvent.photo ) }}" alt="photo {{ oldEvent.title }}" class="photo_bordu">
            {% endif %}
            <h3>{{ oldEvent.title }}</h3>
            <p>{{ oldEvent.description }}</p>
        {% endfor %}
    </article>
    <article class="stage_event">
        <h2>Résumé des Stages précédents </h2>

        <p>Depuis 2017, l'association s'évertue à organiser son "Stage Musical Du Lot" envers et contre tout !<br>
            C'est ainsi que, grace à ses divers partenariats avec les municipalités et son nombre d'élèves croissant, le stage continue de progresser chaque année. <br>
            Nous avons donc pu, cette année, recruter un nouveau professeur, en la personne de Benjamin Aubry, pour dispenser des cours de Saxophone.<br>
            De plus, si nous profitions de l'ancienne école de musique de Cajarc, celle-ci aura désormais été remplacée par une nouvelle école flambant neuve et équipée comme il se doit.<br>
            Vivement la saison prochaine !!!</p>
    </article>
{% endblock %}
