{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}
{% block body %}
    <article class="upcomming_event" >
        <h2>Evènements à venir </h2>
        {% for event in lastEvents %}
            <div class="card mb-5" style="background-color: #29b1a8">
                <div class="row no-gutters">
                    <div class="col-md-4 ">
                        <img src="{{ vich_uploader_asset(event, 'imageFile') }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">{{ event.title }}</h3>
                            <p class="card-text">{{ event.description }}</p>
                            <p class="card-text"><small class="text-muted">{{ event.date |date("m/d/Y H:m") }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </article>
    <article class="passed_event ">
        <h2>Evènements passés </h2>
        {% for oldEvent in oldEvents %}
            <div class="card mb-3" >
                <div class="row no-gutters">
                    <div class="col-md-4 ">
                        <img src="{{ vich_uploader_asset(oldEvent, 'imageFile') }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">{{ oldEvent.title }}</h3>
                            <p class="card-text">{{ oldEvent.description }}</p>
                            <p class="card-text"><time class="text-muted">{{ oldEvent.date|date("m/d/Y H:m") }}</time></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </article>
    <article class="stage_event">
        <h2>Résumé des Stages précédents </h2>

        <p>Depuis 2017, l'association s'évertue à organiser son "Stage Musical Du Lot" envers et contre tout !<br>
            C'est ainsi que, grace à ses divers partenariats avec les municipalités et son nombre d'élèves croissant, le stage continue de progresser chaque année. <br>
            Nous avons donc pu, cette année, recruter un nouveau professeur, en la personne de Benjamin Aubry, pour dispenser des cours de Saxophone.<br>
            De plus, si nous profitions de l'ancienne école de musique de Cajarc, celle-ci aura désormais été remplacée par une nouvelle école flambant neuve et équipée comme il se doit.<br>
            Vivement la saison prochaine !!!</p>
    </article>
{% endblock %}
