<article id="contact">
    <h2>Contact :</h2>
    <div class="social">
        <a href="mailto:assoinextremis@gmail.com"> <img class="logo" src="{{ asset('asset/images/png/gmail.png') }}"  alt="logo mail clickable"/></a>
        <a id="mail" class="mail_and_phone" href="assoinextremis@gmail.com">assoinextremis@gmail.com</a>
    </div>
    <div class="social">
        <a href="tel:+630182644"><img class="logo" src="{{ asset('asset/images/png/phone.png') }}" alt="Logo téléphone clickable"/></a>
        <a id="phone" class="mail_and_phone" href="tel:+630182644">06.30.18.26.44</a>
    </div>
    <div class="social social_logo">
        <a href="https://soundcloud.com/duology-experiment"><img class="logo" src="{{ asset('asset/images/png/soundcloud_37613.png') }}" alt="logo soundcloud"></a>
        <a href="https://www.facebook.com/duologyexperiment"><img class="logo" src="{{ asset('asset/images/png/fb.png') }}" alt="logo facebook"></a>
        <a href="https://www.instagram.com/duologyexperiment/"><img class="logo" src="{{ asset('asset/images/png/insta.png') }}" alt="png"></a>
    </div>
</article>
<footer>
    <p>Copyright @2021 tous droits réservés</p>
</footer>